.element {
    height: 135px;
    display: flex;
}
.lectureInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    padding: 3%;
}
.videoTitle{
    height: 60%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}
.lectures-sec {
    padding: 20px;
    margin: 2%;
    width: 56%;
    border-radius: 25px;
    background: linear-gradient(135deg, #ddd6f3, #faaca8);
}
.mar0 {
    margin: 0;
}
.pad1 {
    padding: 1%;
}
.videoSize {
    height: 100%;
    border-radius: 12px;
}