.video-container {
    /* height: 168px; */
    display: flex;
    background: rgb(116, 114, 118);
    border-radius: 8px;
    margin: 1%;
    padding: 2%;
}
.lectureInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    padding: 3%;
}
.videoTitle{
    height: 60%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}
.lectures-sec {
    padding: 20px;
    margin: 2%;
    width: 56%;
    border-radius: 25px;
    background: rgb(168, 171, 168);
}
.mar0 {
    margin: 0;
}
.pad1 {
    padding: 1%;
}
.videoSize {
    height: 100%;
    border-radius: 12px;
}
