.header {
    height: 10vh;
    background: black;
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    height: 13vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    border-top: 2px solid dimgrey
}
.content{
    padding: 0 1%;
}
.categories{
    left: 24%;
    position: absolute;
    top: 32%;
    gap: 10%;
}
.footer-text {
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: x-large;
}
.icon-box {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    background: white;
    padding: 5px;
    align-items: center;
}
.phone-header {
    background: black;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 10vh;
    position: relative;
}
.search-button {
    border: none;
    background: black;
    border-radius: 7px;
    cursor: pointer;
}
.pc-footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
}
@media  screen and (max-width: 1024px) {
    .icon-box {
        width: 53%;
    }
    .footer {
        height: 15vh;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    .footer-text {
        font-size: medium;
    }
}
.logo {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-corner {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: end;
}
.auth-background {
    border: 2px solid red;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}
.auth-portal {
    height: 58vh;
    width: 23%;
    position: absolute;
    z-index: 5;
    right: 2%;
    top: 12vh;
    border-radius: 10px;
    background: dimgrey;
    padding: 1%;
    color: whitesmoke;
    min-width: 300px;
    overflow-y: scroll;
}
.auth-portal::-webkit-scrollbar {
    display: none;
}
.auth-signup-portal {
    height: 70vh;
}
.auth-otp-portal {
    width: 25%;
    height: 51vh;
    min-width: 150px;
}
.logged-in-portal {
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-heading {
    font-size: larger;
    font-weight: bold;
}
.form-element {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.element-input {
    background: none;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 36px;
    margin-bottom: 18px;
}
.login-button {
    background: none;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 36px;
    width: 40%;
    color: whitesmoke;
    font-weight: 800;
    cursor: pointer;
}
.login-button:hover {
    background-color: rgb(88, 74, 236);
}
.login-button:active {
    opacity: 0.5;
}
textarea:focus, input:focus {
    color: whitesmoke;
    outline: none;
}

select, textarea, ::placeholder{
    color: rgba(240, 243, 245, 0.5);
    letter-spacing: 2px;
}
input {
    color: whitesmoke;
    letter-spacing: 2px;
}

.otp-input {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: transparent;
    letter-spacing: 24px;
    font-size: xx-large;
    border-radius: 0;
    outline-color: whitesmoke;
    border-color: whitesmoke;
}
.message {
    background-color: whitesmoke;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
}
.success-message {
    color: rgb(34, 197, 94)	;
}
.err-message {
    color: rgb(187, 33, 36);
}

@media screen and (max-width:600px) {
    .auth-portal {
        padding:4%;
        height: 50vh;
    }
    .auth-signup-portal {
        height: 59vh;
    }
    .logged-in-portal {
        height: 21vh;
    }
}