.header {
    height: 10vh;
    background: black;
    /* position: relative; */
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    height: 13vh;
    background: black;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
}
.content{
    padding: 0 1%;
}
.logo {
    /* position: absolute;
    left: 7%; */
    /* top: 27%; */
}
.categories{
    left: 24%;
    position: absolute;
    top: 32%;
    /* display: flex; */
    gap: 10%;
}
.right-corner{
    /* position: absolute;
    right: 3%;
    top: 15%; */
}
.footer-text {
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: x-large;
}
.icon-box {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    background: white;
    padding: 5px;
    align-items: center;
}