.course-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
    padding: 1%;
    flex-wrap: wrap;
    width: 30%;
    height: 70vh;
    /* background: linear-gradient(rgba(219, 110, 168, 0.6), rgba(86, 92, 209, 0.2)); */
    border-radius: 22px;
    position: sticky;
    top: 30px;  /* Adjust this value as needed */
}

.course-card {
    background:  rgb(105, 74, 244);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: transform 0.3s ease-in-out; */
}

.course-card:hover {
    /* transform: scale(1.05); */
}

.teacher-card {
    /* flex-direction: row; */
    gap: 10px;
    /* padding: 15px; */
    height: 60%;
}

.teacher-img {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(94, 47, 203, 0.8);
}
.lectures-page {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.lectures-section {
    width: 58%;
    /* background: linear-gradient(135deg, #ddd6f3, #faaca8); */
    border-radius: 25px;
    padding: 20px;

}

h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
