.navbar {
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.child-navbar {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.navbar-box {
    display: flex;
    width: 120px;
    height: 37px;
    text-align: center;
}
li {
    list-style: none;
}
.navbar-button {
    text-decoration: none;
    background: rgb(101, 236, 153);
    border-radius: 5px;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.navbar-button.active {
    background: linear-gradient(135deg, #d3829b  , #e4a4db  ) ;
    transform: scale(0.95);
}
.navbar-button:active {
    background: rgb(101, 236, 153);
    transform: scale(0.8);
}
.navbar-button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #d3829b  , #e4a4db  ) ;
}
.navbar-text {
    margin: 0;
    font-weight: bold;
    color: black;
}
.phone-navbar {
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 20%;
}

.dropdown-menu  {
    position: absolute;
    top: 99%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    background: black;
    left: 0;
    padding: 1%;
    gap: 4px;
    width: 40%;
    max-width: 222px;
    min-width: 102px;
}
.dropdown-item {
    width: 100%;
}

.phone-navbar-button  {
    text-decoration: none;
    background: rgb(76, 79, 77);
    border-radius: 5px;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.phone-navbar-button.active {
    background: rgb(208, 212, 209) ;
    transform: scale(0.95);
    color: black;
    font-weight: bold;
}
.menu-button {
    cursor: pointer;
    height: 66px; 
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    transition: transform 0.2s ease, background-color 0.2s ease;
    overflow: hidden; 
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.menu-button-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}

.menu-button:active {
    transform: scale(0.9);
}